:root {
  /* Font */
  --font-family-body: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-body);
  hyphens: auto;
  overflow-wrap: break-word;

  background-color: #f6f8fc;
}

ol,
ul {
  list-style-type: none;
}

.content-flow > * + * {
  margin-block-start: var(--spacing-sm);
}

.content-flow > * + .has-large-flow-space {
  margin-block-start: var(--spacing-xl);
}

.content {
  height: 100vh;
  padding: 1rem;
  background-color: #fff;
}

@media (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}
